@import "../../global.scss";
.imageDetail {
  width: 100%;
  max-width: 1320px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    max-width: 100%;
  }
  @include mobile_potrait {
    flex-direction: column;
  }
  @media (min-width: 576px) {
    height: 100%;
  }
  .place-bid-top {
    margin-bottom: 20px;
  }
  .nftContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // flex: 0.5;
    width: 49%;
    height: 100%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    @include mobile_potrait {
      margin-bottom: 1rem;
    }

    .imgContaner {
      //   width: calc(100% - 2rem);
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.178);
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      margin-left: 1rem;
      margin-right: 1rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      height: 55vh;

      overflow: hidden;
      @media screen and (max-width: 768px) {
        height: 120%;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
    .col-div.br-div {
      margin-bottom: 20px;
    }
    .col-div {
      // width: calc(100% - 4rem);
      display: flex;
      width: 100%;
      align-items: flex-start;
      box-sizing: border-box;
      //   size: 100%;
      justify-content: center;
      flex-direction: column;
      //   padding: 1rem;
      border-radius: 10px;
      .billy-header {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        svg {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
      }
      p {
        color: #aaa;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        a {
          color: #228be6;
          text-decoration: none;
          transition: all 0.3s ease;
          margin-left: 0.5rem;
          &:hover {
            color: #7a99fe;
          }
        }
      }
    }
    .w-100 {
      width: 100%;
    }
    a {
      color: #228be6;
      text-decoration: none;
      transition: all 0.3s ease;
      margin-left: 0.5rem;
      &:hover {
        color: #7a99fe;
      }
    }
    .br-div {
      border: 1px solid rgba(255, 255, 255, 0.178);
      border-radius: 10px;
      padding: 1rem;
    }

    .row-div {
      width: 100%;
      display: flex;
      align-items: center;
    }
    .m-b {
      margin-top: 1rem;
    }
    .s-b {
      justify-content: space-between;
      a {
        word-break: break-all;
        text-align: left;
        width: 100%;
      }
    }
    p {
      text-align: left;
    }
    .cursor-pointer {
      cursor: pointer;
    }
    .mt-1 {
      margin-top: 1rem;
    }
  }

  .velas-club-container {
    width: 49%;
    height: auto;
    box-sizing: border-box;
    // overflow-y: scroll;
    @media screen and (max-width: 1024px) {
      margin-top: 20px !important;
      width: 100%;
    }
  }

  .item-acticity {
    text-align: left;
    color: white;
    padding: 10px 0;
  }
  .property-box {
    background: transparent;
    border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.178);
    // padding: 20px;
    // height: 100%;
    box-sizing: border-box;
    width: 100%;
    // flex: 0.5;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @include mobile_potrait {
      width: 100%;
      // padding: 1rem;
      // margin: 1rem;
    }
    .auction-bids-btns {
      // flex-direction: column;
      display: grid;
      height: auto;
      flex-wrap: wrap;
      justify-content: flex-start;
      row-gap: 15px;
      column-gap: 15px;
      grid-template-columns: 25% 25% 25% 25%;
    }
    .property-div {
      height: 100%;

      @media (min-width: 576px) {
        // overflow-y: auto;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-track {
          background-color: darkgray;
          border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #9c27b0;
          border-radius: 5px;
          cursor: pointer;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

          &:hover {
            background-color: #820099;
            cursor: pointer;
          }
        }
      }
      .share-div {
        display: flex;
        justify-content: space-between;
        .link-blue {
          color: #339af0;
          text-decoration: none;
          &:hover {
            color: "#1971c2";
          }
        }

        .share-icon {
          width: 24px;
          height: 27px;
          color: #868e96;
          margin-right: 10px;
          cursor: pointer;
          &:hover {
            color: #495057;
          }
        }
      }
      .row-div {
        width: 100%;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
        .billy-desc {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0.5rem 0.5rem 0.5rem 0;

          a {
            color: #228be6;
            text-decoration: none;
            transition: all 0.3s ease;
            margin-left: 0.5rem;
            &:hover {
              color: #7a99fe;
            }
          }
          &.hover-blue {
            color: #868e96;
            font-size: 12px;
            line-height: 24px;
            margin-left: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              color: #228be6;
            }
          }
        }
      }
      .br-div {
        padding-top: 2rem;

        // padding-bottom: 2rem;
      }
      .aic {
        width: 100%;
        margin-top: 1rem;
        align-items: center !important;
      }
      .jcc {
        width: 100%;
        justify-content: flex-start;
        color: white;
      }

      .col-div {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
      }
      .col-div.aic.jcc div {
        text-align: left;
        width: 100%;
      }
      .outLineBtn {
        display: flex;
        align-items: center;
        margin: 0.5rem 1.5rem 0.5rem 0;
        svg {
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
      .billy-header {
        color: white;
        font-weight: bold;
      }

      .billy-desc {
        color: #868e96;
        text-align: left;
        margin-left: 10px !important;
        font-size: 15px;
      }
      .billy-desc svg {
        margin-right: 5px;
      }
    }
    .m-l-1em {
      margin-left: 1em;
      font-size: 13px;
      font-weight: 400;
    }

    .buy-div {
      display: flex;
      justify-content: center;
      margin-top: 15px;

      .buy-btn {
        width: 200px;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .cursor-pointer {
      cursor: pointer;
    }
    .s-b {
      justify-content: space-between;
    }

    .inline-flex {
      display: inline-flex !important;
    }

    .m-l-4 {
      margin-left: 4px;
    }
    .m-b-5 {
      margin-bottom: 5px;
    }
    .p-t-10 {
      padding-top: 10px;
    }
    .p-b-10 {
      padding-bottom: 10px;
    }

    .select-gray {
      margin-right: 1rem;
      @include mobile_potrait {
        margin-right: 0rem !important;
        width: 100%;
        margin-left: 0px !important;
      }
      @include mobile_landscape {
      }
      & > div:first-of-type {
        border: 1px solid #0eabff;
        background: #353840;
        // border-color: #353840;
        min-width: 200px;
        @include mobile_potrait {
          width: 100%;
          margin-bottom: 0.5rem;
          font-size: 12px;
          height: 25px;
          margin-right: 0rem !important;
        }
        @include mobile_landscape {
          font-size: 12px;
        }
        div {
          color: #ffffff !important;
        }
        input {
          display: none !important;
        }
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }
  .attrs {
    flex-wrap: wrap;
    gap: 8px;
    display: flex;

    &.raw {
      gap: 16px;
    }
    li {
      text-align: left;
      padding: 0;
      min-width: calc(30% - 50px);
      .name {
        color: #868e96;
        text-transform: uppercase;
        font-size: 10px;
      }

      .value {
        margin-top: 4px;
        font-size: 16px;
        display: block;
      }
      .link-blue {
        color: #339af0;
        text-decoration: none;
        &:hover {
          color: "#1971c2";
        }
      }
    }
    .text-white {
      color: white;
    }

    .text-green {
      color: #12b886;
    }
  }
  .with-border {
    text-align: left !important;
    border-radius: 8px;
    text-align: center;
    background-color: transparent;
    border-radius: 8px;
    margin-left: 1px;
    margin-bottom: 10px;
  }

  .with-border-bottom {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .hover-blue {
    color: #868e96;
    font-size: 12px;
    line-height: 24px;
    margin-left: 5px;

    &:hover {
      color: #228be6;
    }
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
    max-width: 100%;
  }
}
.image-details__accordion {
  .accordion-button:not(.collapsed) {
  }

  .item-activity__accordion {
    .accordion-body {
      padding: 0 !important;
    }

    .accordion-collapse.collapse.show {
    }
    .accordion-item:first-of-type .accordion-button {
      border-radius: 0 !important;
      border-top-left-radius: 8px !important;
      border-top-right-radius: 8px !important;
    }
  }
}
