.table-responsive{
    width: 100%;
    padding-bottom: 50px;
	.mobile-hidden{
        @media (max-width: 576px){
            display: none;
        }
    }

    .mobile-show{
        display: none;
        line-height: 4px;
        @media (max-width: 576px) {
            display: table-cell;
        }
    }

    .activity-table {
        width: 100%;
        text-align: center;
        color: white;
        border-spacing: 0 !important;
        thead tr th {
            height: 50px;
        }
    }

    .item-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        .img-box {
            border-radius: 4px;
            border: 1px solid rgb(21, 27, 34);
            display: flex;
            -webkit-box-align: center;
            justify-content: center;
            flex: 0 0 auto;
            height: 48px;
            width: 48px;

            img{
                object-fit: contain;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
                border-radius: inherit;
            }
        }

        .detail-box {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            .collection-label {
                font-style: 13px;
            }
        }
    }

    .activity-row{
        cursor: pointer;
        transition: all 0.2s ease;
        
        td {
            padding: 10px 0;
            border-bottom: 1px #333 solid;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}