	// actionList: {
	// 	display: flex;
	// 	flex-direction: column;

	// 	.action-item {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		align-items: center;
	// 		border-bottom: 1px solid rgb(229, 232, 235);
	// 		cursor: pointer;
	// 		padding-right: 20px;

	// 		&:hover {
	// 			transition: all 0.2s ease 0s;
	// 			box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
	// 			background-color: rgb(251, 253, 255)"
	// 		}

	// 		.action-icon {
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;
	// 			width: 60px;
	// 			height: 40px;
	// 		}

	// 		.action-label {
	// 			flex: 1;
	// 			min-width: 100px;
	// 			font-weight: 500,
	// 			font-size: 20px"
	// 		}
	// 	}
	// }
    @import "../../../global.scss";
.collectionPage{
    .sections{
        .container{
            margin: 0;
            max-width: none;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            margin-top: 5rem;
            .add-btn {
                display: inline-flex;
                flex-direction: row;
                -webkit-box-align: center;
                align-items: center;
                border-radius: 10px;
                justify-content: center;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 20px;
                background-color: rgb(32, 129, 226);
                border: 1px solid rgb(32, 129, 226);
                color: rgb(255, 255, 255);
                height: 50px;
                margin-left: 10px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(66, 160, 255);
                    border: 1px solid rgb(66, 160, 255);
                }
            }

            .m-l-5 {
                margin-left: 5px !important;
            }

            .m-r-5 {
                margin-right: 5px !important;
            }

            .m-l-10 {
                margin-left: 10px !important;
            }

            .m-0 {
                margin: 0px !important;
            }

            .edit-icon {
                color: white;
                font-size: 2rem;
                z-index: 5
            }

            .banner-box {
                cursor: pointer;
                position: relative;
                height: 225px;
                display: block;
                background-color: #151b22;
                width: 100%;
                .hover-back {
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 225px;
                    display: none;
                    z-index: 1;
                }

                &:hover .hover-back {
                    display: flex;
                }

                .banner-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                .empty-banner {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background-color: rgba(0,0,0,0.7);

                    &:hover {
                        background-color: #151b22;
                    }
                }
            }

            .mobile-func-box {
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include mobile_potrait{
                    display: flex;
                    width: 90%;

                }
                @include mobile_landscape{
                    font-size: 20px;
                }
                .setting-box {
                    flex: 1;
                    display: flex;
                    flex-direction: row-reverse;
                    margin-top: 20px;
                    color: rgb(229, 232, 235);
                    width: fit-content;
                    @include mobile_potrait{
                        width: 100%;
                        justify-content: space-between;
                     }
                     @include mobile_landscape{
                         width: 100%;
                        justify-content: space-between;
                     }
                    .share-btn {
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 10px 0 0 10px;
                        -webkit-box-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px;
                        background-color: transparent;
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                        @include mobile_potrait{
                            width: 30px;
                            height: 30px;
                            font-size: 12px;
                        }
                        @include mobile_landscape{
                            width: 30px;
                            height: 30px;
                            font-size: 12px;
                        }
                    }

                    .setting-btn {
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 0 10px 10px 0;
                        -webkit-box-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px;
                        background-color: transparent;
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                        @include mobile_potrait{
                            width: 30px;
                            height: 30px;
                            font-size: 12px;
                        }
                        @include mobile_landscape{
                            width: 30px;
                            height: 30px;
                            font-size: 12px;
                        }
                    }
                    .add-btn{
                        font-size: 12px;
                        padding: 10px 20px;
                    }
                }

                .watch-box {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    margin-top: 20px;
                    color: rgb(229, 232, 235);
                    width: fit-content;
                    @include mobile_potrait{
                       width: 100%;
                       justify-content: space-between;
                    }
                    @include mobile_landscape{
                        width: 100%;
                       justify-content: space-between;
                    }
                    .icon-btn {
                        width: 50px;
                    }

                    .watch-btn {
                        cursor: pointer;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 10px;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px 20px;
                        background-color: rgb(32, 34, 37);
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                        height: 50px;
                        @include mobile_potrait{
                            font-size: 12px;
                            align-items: center;
                            justify-content: center;
                            height: auto;
                            padding: 7px 20px;
                        }
                        @include mobile_landscape{
                            font-size: 12px;
                            align-items: center;
                            justify-content: center;
                            height: auto;
                            padding: 7px 20px;
                        }
                    }
                }
            }

            .sub-box {
                width: 100%;
                display: flex;
                flex-direction: row;

                .user-info-box {
                    flex: 1;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .avatar-box {
                        z-index: 10;
                        border: 2px solid rgb(38, 43, 47);
                        background-color: black;
                        margin-top: -64px;
                        border-radius: 50%;
                        width: 130px;
                        min-width: 130px;
                        height: 130px;
                        min-height: 130px;
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .edit-icon {
                            position: absolute;
                            display: none;
                        }

                        &:hover .edit-icon {
                            display: block !important;
                        }

                        .avatar-img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            opacity: 1
                        }

                        &:hover .avatar-img {
                            opacity: 0.5
                        }
                    }

                    .user-name {
                        color: white;
                        font-size: 30px;
                        font-weight: 600;
                        min-height: 40px;
                        margin-bottom: 12px;
                        margin-top: 12px;
                        @include mobile_potrait{
                            font-size: 20px;
        
                        }
                        @include mobile_landscape{
                            font-size: 20px;
                        }
                    }

                    .joined-label {
                        font-weight: 400;
                        font-size: 16px;
                        color: rgb(138, 147, 155);
                        margin-top: 0px;
                        margin-bottom: 0,
                    }
                }

                .empty-box {
                    @media (max-width: 576px) {
                        display: none;
                    }
                }

                .setting-box {
                    flex: 1;
                    display: flex;
                    flex-direction: row-reverse;
                    margin-right: 20px;
                    margin-top: 20px;
                    color: rgb(229, 232, 235);
                    width: fit-content;

                    @media (max-width: 576px) {
                        display: none;
                    }

                    .share-btn {
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 10px 0 0 10px;
                        -webkit-box-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px;
                        background-color: transparent;
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                    }

                    .setting-btn {
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 0 10px 10px 0;
                        -webkit-box-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px;
                        background-color: transparent;
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                    }
                }

                .watch-box {
                    flex: 1;
                    display: flex;
                    flex-direction: row;
                    margin-right: 20px;
                    margin-top: 20px;
                    color: rgb(229, 232, 235);
                    width: fit-content;

                    @media (max-width: 576px) {
                        display: none;
                    }

                    .icon-btn {
                        width: 50px;
                    }

                    .watch-btn {
                        cursor: pointer;
                        display: inline-flex;
                        flex-direction: row;
                        -webkit-box-align: center;
                        align-items: center;
                        border-radius: 10px;
                        -webkit-box-pack: center;
                        justify-content: center;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 12px 20px;
                        background-color: rgb(32, 34, 37);
                        border: 1px solid rgb(112, 122, 131);
                        color: rgb(229, 232, 235);
                        height: 50px;
                    }
                }


            }

            .detail-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: white;
                
                .m-t-20 {
                    margin-top: 20px;
                }

                .detail-box {
                    width: fit-content;
                    -webkit-box-align: center;
                    align-items: center;
                    border-radius: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    @include mobile_potrait{
                        flex-wrap: wrap;
                        width: 90%;
                        justify-content: space-between;
                    }
                    @include mobile_landscape{
                        flex-wrap: wrap;
                        width: 90%;
                        justify-content: space-between;
                    }
                    .detail-item {
                        border: 1px solid rgb(21, 27, 34);
                        width: 144px;
                        height: 88px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #202225;
                        cursor: pointer;

                        &:hover {
                            transition: all 0.2s ease 0s;
                            box-shadow: #04111d40 0px 0px 8px 0px;
                        }
                        @include mobile_potrait{
                            width: 45%;
                            height: 70px;
                            margin-bottom: 0.5rem;
                        }
                        @include mobile_landscape{
                            flex-wrap: wrap;
                            width: 90%;
                            justify-content: space-between;
                        }
                        .value-label {
                            line-height: 36px;
                            height: 36px;
                            font-size: 24px;
                            font-weight: 600;
                            display: flex;
                            align-items: center;
                            @include mobile_potrait{
                                font-size: 20px;
                            }
                            @include mobile_landscape{
                                font-size: 20px;
                            }
                            .eth-icon {
                                width: 17px;
                                height: 30px;
                                margin-right: 5px
                            }
                        }
                    }

                    .item-1 {
                        border-radius: 10px 0 0 10px;
                        border-right: 0,
                    }

                    .item-2 {
                        border-right: 0,
                    }

                    .item-4 {
                        border-radius: 0 10px 10px 0;
                        border-left: 0,
                    }

                    @media (max-width: 576px) {
                        .item-1 {
                            border-radius: 10px 0 0 0;
                            border-right: 0;
                            border-bottom: 0;
                        }

                        .item-2 {
                            border-radius: 0 10px 0 0;
                            border-bottom: 0
                        }

                        .item-3 {
                            border-radius: 0 0 0 10px;
                            border-right: 0,
                        }

                        .item-4 {
                            border-radius: 0 0 10px 0;
                            border-left: 1px solid rgb(21, 27, 34) !important;
                        }
                    }
                }

                // .tab-header {
                //     width: 100%;
                //     overflow-x: auto;
                //     display: flex;
                //     flex-direction: row;
                //     align-items: center;
                //     height: fit-content;
                //     justify-content: center;;
                //     @media (max-width: 1200px){
                //         justify-content: flex-start;
                //     }
        
                //     .tab-item{
                //         height: 100%;
                //         width: 180px;
                //         padding: 20px;
                //         color: #8a939b;
                //         display: flex;
                //         flex-direction: row;
                //         justify-content: center;
                //         align-items: center;
                //         cursor: pointer;
                //         &:hover{
                //             color: white;
                //         }
                //         @include mobile_potrait{
                //             padding: 10px;
            
                //         }
                //         @include mobile_landscape{
                //             font-size: 12px;
                //         }
                //         &.selected {
                //             color: white;
                //             border-bottom: 4px solid #2081e2;
                //         }
        
                //         &.tab-icon {
                //             font-size: 24px;
                //         }
        
                //         .tab-title {
                //             padding: 0 10px;
                //             font-size: 20px;
                //             line-height: 24px;
                //             @include mobile_potrait{
                //                 font-size: 12px;
                //             }
                //             @include mobile_landscape{
                //                 font-size: 12px;
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}
