@import "../../global.scss";

.homePage{
    .sections{
        .container{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 7rem;
        }
        .title{
            font-family: 'Roboto Slab', serif;
            color: #fff;
            font-size: 3rem;
            margin-bottom: 1rem;
            @include mobile_potrait{
                font-size: 2rem;
            }
            @include mobile_landscape{
                font-size: 2rem;
            }
        }
        h4{
            color: #aaa;
            font-weight: normal;
            font-size: 1rem;
            width: 90%;
            max-width: 820px;
            text-align: center;
            margin-bottom: 1rem;
            @include mobile_potrait{
                font-size: 0.8rem;
            }
            @include mobile_landscape{
                font-size: 0.8rem;
            }
        }
        .homeLogoBox{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            margin-top: 5rem;
            img{
                height: 3rem;
                margin: 1rem;
            }
        }
    }
}