@import "../../global.scss";

.settingsPage {
  .sections {
    background-color: #14141f;
    padding: 30px 0;
    .container {
      flex-direction: row;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      @include mobile_landscape {
        // margin-top: 5rem;
      }
    }
  }
}
