@import "../../global.scss";
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    @include mobile_potrait{
        flex-direction: column;
    }
    @include mobile_landscape{
        min-width: 100px;
    }
    .myInput{
        padding: 0.5rem;
        border: none;
        background-color: #00000033;
        border-radius: 3px;
        box-shadow: 0px 0px 2px #fff;
        color: #fff;
        transition: all 0.3s ease;
        min-width: 200px;
        &:focus{
            outline: none;
            box-shadow: 0px 0px 5px #fff;
        }
        @include mobile_potrait{
            min-width: 100%;
            margin-bottom: 0.5rem;
        }
        @include mobile_landscape{
            min-width: 100px;
        }
    }
    .checkGroup{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        p{
            color: #fff;
            display: flex;
            margin: 1rem;
            align-items: center;
            justify-content: center;
            @include mobile_potrait{
                font-size: 10px;
                margin: 0.5rem;
            }
            @include mobile_landscape{
                font-size: 10px;
                margin: 0.5rem;
            }
            
        }
        input[type=checkbox] {
            display: none;
        }
        
        input[type=checkbox] + label {
            display: inline-block;
            position: relative;
            padding: 10px;
            background-color: #ffffff00;
            border: 1px solid #ddd;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.3s ease;
            margin-right: 0.5rem;
            @include mobile_potrait{
                padding: 7px;
            }
            @include mobile_landscape{
                padding: 7px;
            }
        }
        
        input[type=checkbox]:checked + label {
            background-color: #ffffff00;
            color: #A4B7C6 !important;
            border: 1px solid #0eabff;
        }
        
        input[type=checkbox]:checked + label:after {
            position: absolute;
            left: 5px;
            top: 0px;
            color: #0eabff; 
            // color: #d80331; 
            content: '\2714'; 
            font-size: 13px;
            font-weight: normal;
        } 
    }
    
}