.place-bid {
  .modal-content {
    background: #3a3a3a;
    .modal-header {
      border: 0;
      span {
        color: #FFF
      }
    }
    .modal-title {
      margin: inherit;
      text-align: center;
      width: 100%;
    }
    .modal-footer {
      border: 0;
      margin: auto;
    }
  }
  select {
    margin-top: 36px;
    background-color: #242424;
    border: 1px solid #828282;
    border-radius: 4px;
    width: 100%;
    padding: 20px 30px;
    color: #828282;
  }
  .info__item{
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
  }
}
