@import "../../global.scss";

.createPage{
    .sections{
        .container{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 7rem;
            max-width: 1220px;
            @include mobile_potrait{
                margin-top: 5rem;
            }
            @include mobile_landscape{
                margin-top: 5rem;
            }
            .title{
                text-align: center;
                color: #ced4da;
                margin-bottom: 16px;
                padding-top: 32px;
                font-style: 32px;
                font-weight: bold;
                @include mobile_potrait{
                    font-size: 25px;
                    padding-top: 5px;

                }
                @include mobile_landscape{
                    font-size: 25px;
                    padding-top: 5px;
                }
            }
        }
    }
}