@import "../../global.scss";
.craeteItemContainer{
    width: 100%;
    flex-direction: column;
    margin-bottom: 2rem;
    max-width: 1024px;
    @include mobile_potrait{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include mobile_landscape{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: white;
        font-size: 14px;
        margin: 0 0 10px;
        max-width: 1280px;
        text-align: left;
        @include mobile_potrait{
            font-size: 10px;
            
        }
        @include mobile_landscape{
            font-size: 10px;
        }
    }
    .text-label{
        font-size: 18px;
        margin-top: 15px;
        font-weight: bold;
        .text-danger {
            color: #eb5757;
            margin: 0px 3px;
        }
    }
    input {
        writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: auto;
        -webkit-rtl-ordering: logical;
        cursor: text;
        background-color: -internal-light-dark(#ffffff, #3b3b3b);
        margin: 0em;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(#767676, #858585);
        border-image: initial;
        &:focus{
            outline: none;
        }
        @include mobile_potrait{
            width: 90%;
        }
        @include mobile_landscape{
            width: 90%;
        }
    }
    .bordered-input {
        color: white;
        width: 100%;
        border: 1px solid #0eabff;
        // height: 48px;
        padding: 10px;
        font-size: 16px;
        background: #353840;
        border-radius: 8px;
        @include mobile_potrait{
            width: 90%;
        }
        @include mobile_landscape{
            width: 90%;
        }
       
    }
    .select-gray{
        position: relative;
        box-sizing: border-box;
        @include mobile_potrait{
            width: 90%;
        }
        @include mobile_landscape{
            width: 90%;
        }
        .css-1s2u09g-control {
            background: #353840;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-color: hsl(0, 0%, 80%);
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
            cursor: default;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            min-height: 38px;
            outline: 0!important;
            position: relative;
            -webkit-transition: all 100ms;
            transition: all 100ms;
            box-sizing: border-box;
            >div:first-of-type div {
                color: #fff !important;
            }
        }
        
        &>div:first-of-type {
            background: #353840;
            border: 1px solid #0eabff;
            & div {
                color: #ffffff !important;
                @include mobile_potrait{
                    img{
                        width: 30px;
                        height: 30px;
                    }
                   
                }
                @include mobile_landscape{
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .display-flex{
        display: flex;
        align-items: center;
    }
    .modal-box{
        width: 100%;
        margin-top: 15px;
        .pro-item-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .pro-item {
                margin: 5px;
                width: 150px;
                border-radius: 6px;
                border: 1px solid rgb(21, 178, 229);
                padding: 10px;
                text-align: center;
                background: #212529;

                .pro-item-type {
                    color: #15b2e5;
                    font-size :11px;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                .pro-item-name {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 30px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        .lvl-item-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .lvl-item {
                border-radius: 10px;
                border: 1px solid rgb(229, 232, 235);
                background: #212529;
                padding: 12px;
                max-width: 428px;
                margin-top: 8px;

                .lvl-item-info {
                    width: 100%;
                    display: inline-flex;
                    justify-content: space-between;
                }

                .lvl-item-bar {
                    background-color: #fbfdff;
                    border: 1px solid rgb(229, 232, 235);
                    border-radius: 14px;
                    height: 14px;
                    margin-top: 4px;
                    overflow: hidden;

                    .lvl-item-content {
                        background-color: rgb(32, 129, 226);
                        height: 100%;
                    }
                }
            }
        }

        .box-header {
            display: flex;
            padding: 12px 10px 0px 10px;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .content-box{
                display: flex;
                align-items: center;
                flex-direction: row;
                .MuiSvgIcon-root {
                    fill: currentColor;
                    width: 1em;
                    height: 1em;
                    display: inline-block;
                    font-size: 1.5rem;
                    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                    flex-shrink: 0;
                    user-select: none;
                    fill: #fff;
                }
            }
            .check-box{
                
                width: 40px;
				height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                input{
                    cursor: pointer !important;
                }

            }
            .round-border{
                color: gray;
                width: 40px;
                border: 1px solid gray;
                cursor: pointer;
                height: 40px;
                display: flex;
                align-items: center;
                border-radius: 10px;
                justify-content: center;
                @include mobile_potrait{
                    width: 30px;
                    height: 30px;
                    border-radius: 6px;
                }
                @include mobile_landscape{
                    width: 30px;
                    height: 30px;
                    border-radius: 6px;
                }
            }
        }

    }
    
}

.myTooltip {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .tooltip{
    padding: 10px 15px;
    max-width: 130px !important;
    color: #555555 !important;
    line-height: 1.7em;
    background: #FFFFFF !important;
    border: none;
    border-radius: 3px;
    box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f, 0 5px 5px -3px #00000033;
    max-width: 200px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
    // fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif',
} 