@import "../../global.scss";
.createCollectionContainer {
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 1024px;
  @include mobile_potrait {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include mobile_landscape {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p {
    display: flex;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
    font-size: 14px;
    margin: 0 0 10px;
    max-width: 1280px;
    text-align: left !important;
    @include mobile_potrait {
      font-size: 10px;
    }
    @include mobile_landscape {
      font-size: 10px;
    }
  }
  .text-label {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
    .text-danger {
      color: #eb5757;
      margin: 0px 3px;
    }
  }
  input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(#ffffff, #3b3b3b);
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(#767676, #858585);
    border-image: initial;
    &:focus {
      outline: none;
    }
  }
  .bordered-input {
    color: white;
    width: 100%;
    border: 1px solid #212529;
    // height: 48px;
    padding: 10px;
    font-size: 16px;
    background: #353840;
    border-radius: 8px;
  }
  .select-gray {
    position: relative;
    box-sizing: border-box;
    .css-1s2u09g-control {
      background: transparent;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-color: hsl(0, 0%, 80%);
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      cursor: default;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      min-height: 38px;
      outline: 0 !important;
      position: relative;
      -webkit-transition: all 100ms;
      transition: all 100ms;
      box-sizing: border-box;
      > div:first-of-type div {
        color: #fff !important;
      }
    }

    & > div:first-of-type {
      background: #353840;
      & div {
        color: #ffffff !important;
      }
    }
  }
  .display-flex {
    display: flex;
    align-items: center;
  }
  // form: {
  // 	'& *': {
  // 		color: '#ced4da'
  // 	},

  // 	'& .requireHead:after': {
  // 		content: '" *"',
  // 		color: 'red'
  // 	},

  // },
  .formControl {
    margin-top: 30px;
    @include mobile_potrait {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 90%;
    }
    @include mobile_landscape {
    }
    h4 {
      width: 100%;
      text-align: left;
      color: #fff;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
      a {
        text-decoration: none;
      }
    }
    .logoImgInput {
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.246);
      width: 30%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: none;
      display: "flex";
      transition: all 0.3s ease 0s;
      @media screen and (max-width: 768px) {
        width: 50%;
      }
      @media screen and (max-width: 450px) {
        width: 100%;
      }
      .imgIcon {
        font-style: 4.5em;
        opacity: 0;
        transition: opacity 100ms ease 0s;
      }

      .fa:not(.imgIcon) {
        color: #0eabff;
        opacity: 1;
        transition: opacity 100ms ease 0s;
      }

      .logoImg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        padding: 4px;

        img {
          max-width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: opacity 100ms ease 0s;
          opacity: 1;
        }
      }
    }

    .logoImgInput:hover {
      background: #353840;
      .imgIcon {
        z-index: 1;
        opacity: 1;
        color: #b3b3b3;
      }

      img {
        opacity: 0.7 !important;
      }

      .fa:not(.imgIcon) {
        opacity: 0.7;
      }
    }

    .FeaturedImgInput {
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.246);
      width: 50%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: none;
      display: "flex";
      transition: all 0.3s ease 0s;
      label {
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .FeaturedImgIcon {
        font-size: 4.5em;
        opacity: 0;
        transition: opacity 100ms ease 0s;
      }

      .fa:not(.FeaturedImgIcon) {
        color: #0eabff;
        opacity: 1;
        transition: opacity 100ms ease 0s;
      }

      .FeaturedImg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        padding: 4px;

        img {
          max-width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: opacity 100ms ease 0s;
          opacity: 1;
          object-fit: cover;
        }
      }

      .removeImg {
        position: absolute;
        top: 12px;
        right: 12px;
        color: #cccccc;
        line-height: 50%;
        font-style: 300px;
        transition: opacity 100ms ease 0s;
        cursor: pointer;
      }
      &:hover {
        background: #353840;
        .FeaturedImgIcon {
          z-index: 1;
          opacity: 1;
          color: #b3b3b3;
        }

        img {
          opacity: 0.7 !important;
        }

        .fa:not(.imgIcon) {
          opacity: 0.7;
        }
      }
    }

    .BannerImgInput {
      cursor: pointer;
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.246);
      width: 100%;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: none;
      display: "flex";
      transition: all 0.3s ease 0s;
      @include mobile_potrait {
        width: 100%;
      }
      @include mobile_landscape {
      }
      label {
        height: 100%;
        width: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .BannerImgIcon {
        font-size: 4.5em;
        opacity: 0;
        transition: opacity 100ms ease 0s;
      }

      .fa:not(.BannerImgIcon) {
        color: #0eabff;
        opacity: 1;
        transition: opacity 100ms ease 0s;
      }

      .BannerImg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        padding: 4px;

        img {
          max-width: 100%;
          height: 100%;
          border-radius: 10px;
          transition: opacity 100ms ease 0s;
          opacity: 1;
          object-fit: cover;
        }
      }

      .removeImg {
        position: absolute;
        top: 12px;
        right: 12px;
        color: rgb(204, 204, 204);
        line-height: 50%;
        font-size: 38px;
        transition: opacity 100ms ease 0s;
        cursor: pointer;
      }
      &:hover {
        background: #353840;
        .FeaturedImgIcon {
          z-index: 1;
          opacity: 1;
          color: #b3b3b3;
        }

        img {
          opacity: 0.7 !important;
        }

        .fa:not(.imgIcon) {
          opacity: 0.7;
        }
      }
    }

    .textInput {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.246) !important;
      color: #ffffff;
      width: 100%;
      height: 48px;
      border: none;
      // border: 1px solid #ced4da;
      border-radius: 6px;
      font-size: 107%;
      padding-left: 10px;
      padding-right: 10px;
      // box-shadow: 0px 0px 3px #0eabff;
      @include mobile_potrait {
        font-size: 12px;
        height: 30px;
      }
      @include mobile_landscape {
      }
    }

    .textareaInput {
      background: transparent;
      border: 1px solid rgba(255, 255, 255, 0.246);
      color: #ffffff;
      width: 100%;
      height: 48px;
      // border: 1px solid #ced4da;
      // border: none;
      border-radius: 6px;
      vertical-align: middle;
      font-size: 107%;
      padding-left: 10px;
      resize: none;
      padding-right: 10px;
      &:focus {
        outline: none;
      }
    }
    & > div:first-of-type {
      color: #fff;
      @include mobile_potrait {
        border-radius: 6px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      @include mobile_landscape {
      }
    }
    .linkInput {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.246);
      // border-bottom: 1px solid #ced4da;
      border-bottom-width: 0;
      @include mobile_potrait {
        width: 100%;
      }
      @include mobile_landscape {
      }
      i {
        font-size: 1.5em;
        padding: 0 16px;
        color: #ced4da;
      }

      input {
        background: transparent;
        border: none;
        height: 48px;
        flex-grow: 1;
        color: #ced4da;
      }
    }
    .check-box {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        cursor: pointer !important;
      }
    }
    .themeGroup {
      @include mobile_potrait {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .item {
          margin-bottom: 1rem;
        }
      }
      @include mobile_landscape {
      }
    }
  }
  .mySelect {
    & > div:first-of-type {
      background: #353840;
      border: 1px solid #0eabff;
      div {
        color: #ffffff !important;
      }
    }
    // input{
    //     &:focus{
    //         outline: none;
    //     }
    // }
  }
}

.myTooltip {
  fill: #fff !important;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-left: 0.5rem;
  cursor: pointer;
}

.tooltip {
  padding: 10px 15px;
  max-width: 130px !important;
  color: #555555 !important;
  line-height: 1.7em;
  background: #ffffff !important;
  border: none;
  border-radius: 3px;
  box-shadow: 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f,
    0 5px 5px -3px #00000033;
  max-width: 200px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  text-shadow: none;
  letter-spacing: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  // fontFamily: '"Helvetica Neue",Helvetica,Arial,sans-serif',
}
