@import "../../global.scss";
.collectionList {
  display: grid;
  justify-content: center;
  max-width: 100%;
  height: auto;
  @include mobile_potrait {
  }
  @include mobile_landscape {
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    
  }
}
