@import "../../global.scss";

.collectionList,
.collectionsListPage {
  display: grid;
  justify-content: center;
  max-width: 100%;
  grid-template-columns: 25% 25% 25% 25%;
  height: auto;
  @include mobile_potrait {
  }
  @include mobile_landscape {
  }
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
  }
}
.collectionsListPage {
  max-width: 100%;
  grid-template-columns: none;
}
