.card-likes {
  margin: 0;
  cursor: pointer;
  position: absolute;
  background-color: #14141f;
  height: 28px;
  display: flex;
  width: 64px;
  justify-content: space-evenly;
  align-items: center !important;
  top: 30px;
  z-index: 10;
  right: 30px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popular-collection-likes {
  top: 0px;
  position: relative;
  right: 0;
  margin-left: 10px;
}
