@import "../../../global.scss";
.tagList {
  width: 100%;
  height: auto;
  background-color: #14141f;
  .tab-header {
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: fit-content;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #343444;
    top: -10px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &::-webkit-scrollbar {
      width: 1em;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
    @media (max-width: 1200px) {
      justify-content: flex-start;
    }

    .tab-item {
      height: 100%;
      width: 180px;
      padding: 20px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        color: white;
      }
      @include mobile_potrait {
        padding: 10px;
      }
      @include mobile_landscape {
        font-size: 12px;
      }
      &.selected {
        color: #5141fc;
        font-weight: 600;
      }

      &.tab-icon {
        font-size: 24px;
      }

      .tab-title {
        padding: 0 10px;
        font-size: 20px;
        line-height: 24px;
        @include mobile_potrait {
          font-size: 12px;
        }
        @include mobile_landscape {
          font-size: 12px;
        }
      }
    }
  }
}
.MuiPaper-root {
  background-color: #00141f !important;
}
.actionList {
  display: flex;
  flex-direction: column;
  background-color: #343444 !important;
  .action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    cursor: pointer;
    padding-right: 20px;
    background-color: #343444 !important;
    &:hover {
      font-weight: 600;
      transition: all 0.3s ease 0s;
      box-shadow: #04111d40 0px 0px 8px 0px;
      background-color: #5141fc !important;
    }

    .action-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 36px;
      color: #fff;
    }

    .action-label {
      flex: 1;
      min-width: 100px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      @include mobile_potrait {
        font-size: 12px;
      }
      @include mobile_landscape {
        font-size: 12px;
      }
    }
  }
}
