@import "../../global.scss";

.accountPage {
  height: 100%;
  width: 100%;
  .sections {
    padding: 20px 0;
    height: 1000px !important;
    background-color: #14141f;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 676px) {
      // padding: 150px 0;
    }
    @media screen and (max-width: 450px) {
      // padding: 90px 0;
    }
    .container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      max-width: 100% !important;
      flex-direction: column;
      box-sizing: border-box;
      @include mobile_potrait {
      }

      @include mobile_landscape {
        margin-top: 5rem;
      }

      .banner-box {
        cursor: pointer;
        width: 100vw;
        position: relative;
        width: 100%;
        height: 225px;
        display: block;
        background-color: #000;
        .hover-back {
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 225px;
          display: flex;
          z-index: 2;
          svg {
            width: 2rem;
            height: 2rem;
            fill: #aaa;
          }
        }
        &:hover {
          .hover-back {
            display: flex;
          }
        }
        .banner-img {
          width: 100%;
          margin: 0 auto;
          left: 50%;
          transform: translate(-50%, 0);
          height: 100%;
          object-fit: cover;
          position: absolute;
          transition: all 0.3s ease;
          &:hover {
            opacity: 0.5;
          }
        }
        .empty-banner {
          height: 100%;
          width: 100%;
          position: absolute;
          background-color: #000000b3;
          &:hover {
            background-color: #151b22;
          }
        }
      }
      .sub-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        .user-info-box {
          flex: 1;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .avatar-box {
            z-index: 10;
            border: 2px solid rgb(38, 43, 47);
            background-color: #000;
            margin-top: -64px;
            border-radius: 50%;
            width: 130px;
            min-width: 130px;
            height: 130px;
            min-height: 130px;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            .edit-icon {
              position: absolute;
              display: none;
            }
            &:hover {
              .edit-icon {
                display: block !important;
              }
            }
            .avatar-img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              opacity: 1;
              transition: all 0.3s ease;
            }
            &:hover {
              .avatar-img {
                opacity: 0.5;
              }
            }
            svg {
              width: 2rem;
              height: 2rem;
              fill: #aaa;
            }
          }
          .user-name {
            color: white;
            font-size: 30px;
            font-weight: 600;
            min-height: 40px;
            margin-bottom: 12px;
            margin-top: 12px;
          }
          .joined-label {
            font-weight: 400;
            font-style: 16px;
            color: rgb(138, 147, 155);
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
        .empty-box {
          @media (max-width: 576px) {
            display: none;
          }
        }
        .setting-box {
          flex: 1;
          display: flex;
          flex-direction: row-reverse;
          margin-right: 20px;
          margin-top: 20px;
          color: #e5e8eb;
          width: fit-content;
          @media (max-width: 576px) {
            display: none;
          }
          .share-btn {
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: inline-flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 10px 0 0 10px;
            -webkit-box-pack: center;
            justify-content: center;
            font-style: 16px;
            font-weight: 600;
            // padding: 12px;
            background-color: transparent;
            border: 1px solid #707a83;
            color: #e5e8eb;
          }
          .setting-btn {
            cursor: pointer;
            width: 50px;
            height: 50px;
            display: inline-flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            border-radius: 0 10px 10px 0;
            -webkit-box-pack: center;
            justify-content: center;
            font-style: 16px;
            font-weight: 600;
            // padding: 12px;
            background-color: transparent;
            border: 1px solid #707a83;
            color: #e5e8eb;
          }
        }
      }
    }
    .accountContainer {
      .banner-box {
      }
      .banner-img {
      }
    }
  }
}
.actionList {
  display: flex;
  flex-direction: column;
  .action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e8eb;
    cursor: pointer;
    padding-right: 20px;

    &:hover {
      transition: all 0.2s ease 0s;
      box-shadow: #04111d40 0px 0px 8px 0px;
      background-color: rgb(251, 253, 255);
    }

    .action-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 40px;
    }

    .action-label {
      flex: 1;
      min-width: 100px;
      font-weight: 500;
      font-style: 30px;
    }
  }
}
