.velasPage {
  background-color: #14141f;
  padding: 20px 0;
  .sections {
    .container {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;

      .partTitle {
        text-align: center;

        .top {
          text-align: center;
          color: #ced4da;
          margin-bottom: 16px;
          font-size: 32px;
          font-weight: bold;

          .img-mark {
            vertical-align: top;
            width: 24px;
            height: 24px;
            margin-left: 8px;
          }
        }

        .desc {
          color: #868e96;
          font-size: 12px;
        }
        .other-site {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 5px 0;
        }
        .other-site .social-contact-item {
          color: white;
          width: 34px;
          height: 34px;
          cursor: pointer;
          // margin: 0 5px;
          transition: all 0.3s;

          // &:hover {
          //   color: #5141fc;
          // }
        }

        .stats {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 8px;
          margin: 0 5px 32px;
          display: flex;
          list-style: none;
          padding: 10px;
          position: relative;
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0px;
          //   left: 0px;
          //   width: 20px;
          //   height: 20px;
          //   border-width: 1px;
          //   border-style: solid;
          //   border-radius: 0px 0px 6px 0px;
          //   border-color: transparent #0eabff #0eabff transparent;
          //   border-image: initial;
          //   transition: width 0.2s ease-out 0s, height 0.2s ease-out 0s;
          //   transform: rotate(180deg);
          //   box-sizing: border-box;
          //   z-index: 1;
          // }
          // &::before {
          //   content: "";
          //   position: absolute;
          //   bottom: 0px;
          //   right: 0px;
          //   width: 20px;
          //   height: 20px;
          //   border-width: 1px;
          //   border-style: solid;
          //   border-radius: 6px 0px 0px 0px;
          //   border-color: #0eabff transparent transparent #0eabff;
          //   border-image: initial;
          //   transition: width 0.2s ease-out 0s, height 0.2s ease-out 0s;
          //   transform: rotate(180deg);
          //   box-sizing: border-box;
          //   z-index: 1;
          // }
          li {
            text-align: center;
            // background: #361b97e6;
            background-color: transparent;
            border-radius: 8px;
            padding: 8px 34px;
            box-shadow: 0px 0px 2px #fff;

            .name {
              text-transform: uppercase;
              color: #5141fc;
              font-size: 15px;
              margin-bottom: 4px;
              font-weight: 600;
            }

            .value {
              color: white;

              .label-blue {
                color: #339af0;
              }
            }
          }
        }

        .img-mark-16 {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
