@import "global.scss";
.app{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    min-height: 100vh;
    position: relative;
    .sections{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
        min-height: 100vh;
        .container{
          display: flex;
          width: 90%;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          margin-top: 7rem;
      }
    }
    
    .loding{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        overflow: hidden;
        z-index: 100;
    }
}
.stakingPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .stakingSections{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
    }
}
.homePage{
  height: 100% !important;
  overflow: hidden;
}

.bg{
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    opacity: 0.6;
    @include mobile_potrait{
        height: 100%;
        width: auto;
    }
    @include mobile_landscape{
        width: 100%;
        height: auto;
    }
}
.hline{
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #ffffff00, #0eabff, #ffffff00);
}
.bg1{
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  opacity: 0.8;
  @include mobile_potrait{
      height: 100%;
  }
  @include mobile_landscape{
      width: 100%;
      height: auto;
  }
}
.bg2{
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: -400%;
  opacity: 0.8;
  @include mobile_potrait{
      height: 100%;
      top: 0;
  }
  @include mobile_landscape{
      width: 100%;
      height: auto;
  }
}
@keyframes criss-cross-left {
	0% {
		left: -20px;
	}
	50% {
		left: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		left: 50%;
		width: 375px;
		height: 375px;
	}
}
@keyframes criss-cross-right {
	0% {
		right: -20px;
	}
	50% {
		right: 50%;
		width: 20px;
		height: 20px;
	}
	100% {
		right: 50%;
		width: 375px;
		height: 375px;
	}
}

//Custom check box

.checkRoot {
    padding: 12px;
    &:hover{
        background-color: hexToRGBAlpha(#9c27b0, 0.04) !important;
    }
}
.radioRoot {
    padding: 12px;
    &:hover {
        background-color: hexToRGBAlpha(#9c27b0, 0.04) !important;
    }
}
.labelRoot{
    margin-left: -14px;
}
.checkboxAndRadio{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkboxAndRadioHorizontal{
    position: relative;
    display: block;
    &:first-child {
        margin-top: 10px;
    }
    &:not(:first-child){
        margin-top: -14px;
    }
    margin-top: 0;
    margin-bottom: 0;
}
.checked{
    color: #9c27b0 !important;
    
}
.checkedIcon{
    width: 16px !important;
    height: 16px !important;
    border: 1px solid #c7c5c58a;
    border-radius: 3px;
}
.uncheckedIcon{
    width: 16px !important;
    height: 16px !important;
    border: 1px solid #c7c5c53d;
    border-radius: 3px;
    path{
        fill : #ffffff00;
    }
    
}
.disabledCheckboxAndRadio{
    opacity: 0.45;
}
label{
    cursor: pointer;
    padding-left: 0;
    color: #00000042;
    font-size: 14px;
    line-height: 1.428571429;
    font-weight: 400;
    display: inline-flex;
    transition: 0.3s ease all;
    letter-spacing: unset;
}
.labelHorizontal{
    color: rgba(0, 0, 0, 0.26);
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.428571429;
    font-weight: 400;
    padding-top: 39px;
    margin-right: 0;
    @media (min-width: 992px){
        float: right;
    }
}
.labelHorizontalRadioCheckbox{
    padding-top: 22px;
}
.labelLeftHorizontal{
    color: #00000042;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.428571429;
    font-weight: 400;
    padding-top: 22px;
    margin-right: 0;
}
.labelError{
    color: #f44336,
}
.radio{
    color: #9c27b0 !important
}
.radioChecked{
    width: 16px;
    height: 16px;
    border: 1px solid #9c27b0;
    border-radius: 50%;
}
.radioUnchecked{
    width: 0px;
    height: 0px;
    padding: 7px;
    border: 1px solid #0000008a;
    border-radius: 50%;
}
.inlineChecks{
    margin-top: 8px;
}
.iconCheckbox{
    height: 116px;
    width: 116px;
    color: #999999;
    & > span :first-child {
        border-width: 4px;
        border-style: solid;
        border-color: #CCCCCC;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        color: inherit;
        margin: 0 auto 20px;
        transition: all 0.2s;
    }
    &:hover{
        color: #e91e63,
        "& > span:first-child"{
            border-color: #e91e63,
        }
    }
}
.iconCheckboxChecked{
    color: #e91e63;
    & > span:first-child{
        border-color: #e91e63;
    }
}
.iconCheckboxIcon{
    font-size: 40px;
    line-height: 111px;
}
.switchBase{
    color: #9c27b0 !important
}
.switchIcon{
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    color: #FFFFFF !important;
    border: 1px solid #0000008a;
}
.switchBar{
    width: 30px;
    height: 15px;
    background-color: #505050;
    border-radius: 15px;
    opacity: 0.7!important;
}
.switchChecked{
    &.switchBar{
        background-color: rgba(156, 39, 176, 1) !important;
    }
    &.switchIcon{
        border-color: #9c27b0;
    }
}
.switchRoot{
    height: 48px;
}

.popoverBody{
    background-color: #00141f;
    border: 1px #0eabff33 solid;
    .actionList{
        .action-item{
            border-bottom: 1px #0eabff33 solid;
            padding-right: 0;
            transition: all 0.3s ease;
            .action-icon{
                svg{
                    fill: #fff
                }
            }
            .action-label{
                color: #fff;
            }
            &:hover{
                background-color: #00283e;
            }
        }
    }
}