.text-center {
	text-align: center;
}

.home-logo-box {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
	img {
		width: 48px;
		height: 48px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

body {
	background: #131316;
}
