.accordion-header svg {
  margin-right: 10px;
}
.accordion-item {
  background-color: transparent;
  color: white;
  text-align: left;
}
.accordion-button {
  background-color: #343444 !important;
  color: white;
  border-radius: 8px;
}
.LvlPropStat-Tables {
  border-radius: 4px;
  padding-right: 2px;
  height: 200px !important;
  width: 100%;
  margin: auto;
}
.LvlPropStat-Tables .each-traded-item {
  padding: 10px !important;
}

.LvlPropStat-Tables span {
  font-size: 20px;
}
@media only screen and (max-width: 1440px) {
  .LvlPropStat-Tables span {
    font-size: 16px;
  }
}
@media only screen and (max-width: 990px) {
  .what-so-ever {
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
  }
  .LvlPropStat-Tables {
    width: 820px;
  }
}
