.collectionPage{
    .sections{
        .container{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            margin-top: 7rem;
        }
        
        .partTitle {
            text-align: center;
            // '& .items li a:hover .media img':  {
            //     transform: 'scale(1.1)'
            // },
    
            .top {
                text-align: center;
                color: #ced4da;
                margin-bottom: 16px;
                padding-top: 32px;
                font-style: 32px;
                font-weight: bold;
            }
    
            .stats {
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                display: flex;
                gap: 8px;
                margin: 0 5px 32px;
                list-style: none;
                padding: 0;
    
                li {
                    text-align: center;
                    background: #361b97e6;
                    border-radius: 8px;
                    padding: 8px 24px;
    
                    .name {
                        text-transform: uppercase;
                        color: #868e96;
                        margin-bottom: 4px;
                        font-size: 10px;
                    }
    
                    .value {
                        color: #fff
                    }
                }
            }
        }
    }
}